.taskItem {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.taskItem:not(:last-child) {
	margin-bottom: 16px;
}

.importance {
	margin-right: 10px;
	padding: 0 5px 0 0;
	height: 40px;
	border-radius: 3px;
	background-color: #a9a9a9;
}

.red {
	background-color: #ff0000;
}

.blue {
	background-color: #0000ff;
}

.yellow {
	background-color: #ffff00;
}

.gray {
	background-color: #a9a9a9;
}

.taskInfo {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.subtitle {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.6);
}

.todayTasks {
	width: 313px;
	margin: 17px auto 15px auto;
	display: flex;
	align-items: center;
}

.todayTasks > span {
	padding: 0;
}

.title {
	color: var(--color-graylight);
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	margin-left: 10px !important;
}

.todoTitle {
	margin-top: 5px !important;
}

.accordionDetails {
	padding-top: 16px;
	padding-bottom: 16px;
}

.lineThrough {
	text-decoration: line-through;
}
